.arrow-icon{
		@extend .icon;
		width: 15px;
		height: 10px;
		min-height: 13px;
		background-image: url(../images/arrow.png);
		margin-right: 4px;
		margin-top: -2px;
	}

.social-icon{
	text-indent: -9999px;
	background-size: 125px;
	@extend .icon;
}
.facebook{
	@extend .social-icon;
	height: 55px;
	width: 55px;
	background-position: -76px 6px;
}
.twitter{
	@extend .social-icon;
	height: 55px;
	width: 55px;
	background-position: 16px -147px;
}
@media only screen and (min-width:0px) {
	.footer-widgets{
		display: block;
		background: #e2f3f7;
		border-top: 2px solid #4f9eb2;
		padding-bottom: 10px;
		h3{
			color: $black-text;
			font-weight: bold;
			font-size: 20px;
			margin-bottom: 5px;
		}
		ul{
			list-style-type: none;
			li{
				margin-bottom: 5px;
			}
			a{
				color: $blue-text;
				font-size: 18px; 
			}
			li.bold-text{
				a{
					font-weight: bold;
				}
			}
		}
	}
	.social-media-widget{
			margin: 15px 15px;
			h3{
				margin-top: 15px;
			}
			li{
				background: $blue;
				display: inline-block;
				margin-right: 6px;
			}
		}
		.btn.email{
			font-size: 20px;
    		color: #fff;
    		padding: 12px 25px;
	}
}
@media only screen and (min-width:768px) {
	.footer-widgets{
		padding-top: 24px;
		padding-bottom: 23px;
		ul-li{
			padding-bottom: 4px;
		}
		.btn.email{
			font-size: 24px;
			padding: 17px 36px;
		}
	}
	.social-media-widget{
		margin: 24px 15px;
		text-align: right;
		h3{
			display: inline;
		}
		ul{
			display: inline-block;
			li{
				margin-left: 30px;
				margin-right: 0;
			}
		}
	}
	.social-icon{
		background-size: 150px;
		width: 70px;
		height: 70px;
	}
	.facebook{
		background-position: -90px 6px;
	}
	.twitter{
		background-position: 14px -175px;
	}
}
@media only screen and (min-width:1200px) {
	.footer-widgets{
		padding: 0 50px;
		h3{
			padding:0;
		}
	}
	.footer-widget{
		margin-top: 25px;
	}
	.social-media-widget{
		margin-top: 50px;
		margin-bottom: 0;
    	padding: 15px 15px 35px;
	}
} 