@media only screen and (min-width:0px) {
	.widgets{
		padding-bottom: 43px;
	}
	.publications{
		h4{
			padding: 4px 0 4px;
			font-size: 17.9px;
		}
		p{
			margin-top: -2px;
	    	font-size: 16px;
	    	line-height: 19px;
		}
		> div{
			border-bottom: 1px solid #dddddd;
		}
		a{
			color: $blue-text;
		}
		.glyphicon{
			margin-right: 8px;
		}
		.sec-right-cont{
			padding:0;
		}
	}
}
@media only screen and (min-width:768px) {
	.widgets.reorder{
		margin: 40px 0 56px;
		padding: 0;
		display: block;
		section{
			h4{
				margin: 0;
			}
		}
	}
	.publications{
		padding-left: 25px;
		> div{
			border-bottom: none;
		}
	}
}
@media only screen and (min-width:1200px) {
	.widgets.reorder{
		padding: 0 65px;
		margin: 40px 0 35px;
	}
	.publications{
		padding-left:60px;
		h4{
			font-size: 20px;
		}
		time{
			font-size: 20px;
		}
		picture{
			width: 22%;
		}
		.publication{
			margin-bottom:20px;
			p{
				font-size: 18px;
			}
		}
		.main-publication{
			padding:0;
			margin-bottom: 30px;
			h4{
				font-size: 30px;
			}
			p{
				padding: 25px 0;
			}
		}
	}
} 